@import "../node_modules/bootstrap/scss/bootstrap";
@import "base/var";
@import "base/header";
@import "main/intro";
@import "main/about-us";
@import "main/news";
@import "main/activities";
@import "main/feedback";
@import "main/contacts";
@import "base/footer";
@import "news-page/news-page";
@import "activities-page/activities-page";

// font-family: 'Roboto', sans-serif;

body,
html {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main {
  flex-grow: 1;
}

h1 {
  color: $light-black !important;
  font-family: Merriweather, serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 122.682%;
}

h2 {
  color: $light-black !important;
  font-family: Merriweather;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 122.682%; 
}

h4 {
  color: $light-black;
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
}

h5 {
  color: $black;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0 !important;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container-fluid {
  padding: 0;
}

.container {
  max-width: 1210px !important;
}

::-webkit-scrollbar {
  width: 10px; /* Ширина скроллбара */
}

/* Стилизация полосы прокрутки */
::-webkit-scrollbar-thumb {
  background-color: $blue; /* Цвет скроллбара */
  border-radius: 5px; /* Скругленные углы */
}

/* Стилизация трека (фона) скроллбара */
::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Цвет фона скроллбара */
}

@media (max-width: 768px) {
  body {
    font-size: 14px;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 22px;
  }

  h4 {
    font-size: 18px;
  }
}