@import "../base/var";

.contacts {
  &__card {
    max-width: 391px;
    width: 100%;
    padding: 39px 20px;
    background-color: rgba(57, 170, 225, .9);
    color: $white !important;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
  }

  &__card-title {
    color: $white !important;
    padding-bottom: 55px;
  }

  &__card-link {
    color: $white;
    text-decoration: none;
    font-weight: 700;
  }

  @media (max-width: 767px) {
    &__card {
      position: static !important;
      transform: none;
      max-width: 100%;
      width: 100%;
    }
    
  }
}