@import "../base/var";

.footer {
  background: $light-black;
  color: $white !important;

  &__wrapper {
    padding: 55px 0 25px 0;
  }

  &__subtitle {
    font-family: Merriweather;
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 14px;
    line-height: 25px;
  }

  &__title {
    font-family: Merriweather;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
  }

  &__list-item {
    padding-bottom: 20px;
  }

  &__list-link {
    color: $white;
    text-decoration: none;
  }

  &__cont-link {
    color: $white;
    font-weight: 700;
    padding-bottom: 18px;
  }

  &__polit-link {
    color: $white;
    font-size: 12px;
    letter-spacing: 0.72px;
    text-decoration-line: underline;
  }

  &__date {
    font-size: 12px;
    letter-spacing: 0.72px;
  }

  &__img {
    width: 88px;
    height: 31px;
  }
}